body {
  display: flex;
  background-color: #41444b;
  font-family: 'Arial', Helvetica, sans-serif;
  color: #dfd8c8;
}

h1 {
  color: #bb5a5a;
  font-weight: bolder;
  font-family: 'Georgia', serif;
  border: 2px solid #dfd8c8;
  padding: 10px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  color: #dfd8c8;
  margin: 0 5px;
}

h2{
  text-decoration: underline #596e79;
}

section {
  background-color: #dfd8c8;
  padding: 20px;
  margin-bottom: 20px;
  color: #41444b;
}

.quad {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.quad img {
  max-width: 40%;
  height: auto;
  flex: 1 0 calc(50% - 10px);
  margin-bottom: 10px;
}

aside {
  width: 200px;
  height: 300px;
  background-color: #dfd8c8;
  color: #41444b;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
}